/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #1E2127E6;
    background-alt: #282B31E6;
    foreground:     #FFFFFFFF;
    /*selected:       #61AFEFFF;*/
    selected:       #FFFFFFFF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
