window {
    background-color: transparent;
    font-family: "FiraCode";
    font-weight: bold;
    font-style: normal;
    font-size: 80px;
    color: #ACACAC;
    text-shadow: 2px 2px 0px  #0E0E0E,
                -2px -2px 0px #0E0E0E,
                 2px -2px 0px #0E0E0E,
                -2px 2px 0px  #0E0E0E;
}
