window {
    background-color: transparent;
    font-family: "FiraCode";
    font-weight: bold;
    font-style: normal;
    font-size: 80px;
    color: #BBBBBB;
    text-shadow: 2px 2px 0px  #080808,
                -2px -2px 0px #080808,
                 2px -2px 0px #080808,
                -2px 2px 0px  #080808;
}
