* {
    background:     {{background}};
    background-alt: {{color0}};
    foreground:     {{foreground}};
    selected:       #FFFFFFB3;
    active:         {{color2}};
    urgent:         {{color9}};
}
